@font-face {
    font-family: 'seagram';
    src: url('./media/Seagram\ tfb.ttf');
}

div {
}

body {

    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    }

#main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#left-title {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;

    background-image: url(./media/building.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35vw;
    
    /* min-width: 675px; */


}

#title-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 0.8vw;

}

#right-content {
    color: white;
    width: 100%;
    background-color: #1e1c1c;
    padding: 0px;
    padding-top: 100px;
    margin: 0px;
    font-size: x-large;
}

h1 {
    font-family: 'seagram';
    font-size: 10em;
    padding: 0px;
    margin: 0px;
}

#create-account-btn {
    background-color: rgb(65, 65, 65);
    border: solid rgb(65, 65, 65) 2px;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    color: white;
    font-size: large;
    margin-top: 30px;
}



#sign-up-form {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 50px;
    padding-bottom: 10px;

}

#sign-up-form li {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 0px;
    padding-right: 75px;
    padding-bottom: 20px;
}

#sign-up-fieldset {
    background-color: #212121;
    border: none;
    padding: 0px;
}

#right-content p {
    padding-left: 50px;
    padding-right: 150px;
}

#right-content button {
    margin-left: 50px;

}

label {
    color: white;
    font-size: medium;
    font-weight: bold;
}

input {
    height: 20px;
    width: 200px;
    background-color: #212121;
    border-width: 0 0 2px;
    color: white;
}

input:focus{
    border-width: 0 0 4px;
}

a {
    color: inherit;
    
}

